/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  color: #333333;
}



/*-----------------------DEBUT---------------------------------------------*/

/*KEVIN*/







/*FIN KEVIN*/


/*JULIA*/







/*FIN JULIA*/


/*EMILIE*/

#kevin {
  font-size: 1px;
  color: salmon;
  background-image: url("https://cdn.glitch.com/fb362e0b-7fe2-4e59-8f2c-baac3a53a256%2FNagui_Excuses.webp?v=1603095786807");
}





/*FIN EMILIE*/

